<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite
        SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/IZIBILI/Documents/Test/wallethub/Wallet_POM">
        <classes>
            <class name="review.reviewPage">
                <methods>
                    <include name="LoginTesting"/>
                    <include name="EnterPageAndSelect"/>
                    <include name="reviewProper"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>